@media (max-width: 768px) {
  nav#main_nav div.menu_toggle {
    display: block;
  }

  nav#main_nav h1 {
    font-size: 20px;
  }

  nav#main_nav ul {
    display: block;
    width: 100%;
    visibility: hidden;
    height: 0vh;
    transition: height 0.8s ease-out;
  }
  nav#main_nav li {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
  }

  nav#dot_nav {
    display: none;
  }

  #contents article {
    font-size: 30px;
    line-height: 50vh;
  }
}
